.body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0px;
  margin: 0px;
}


li {
  list-style: none;
}

.header-0 {
  background-color: #32cd32;
  height: 100px;
ing: 0px 600px 0px 600px;
}

header {
 background: #32cd32;
}


.h-menu{
  position: relative;
}

.h-menuCheckbox {
  display:none;
}

.h-menu_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    top:5px;
    bottom:0;
    width: 70px;
    height: 10px;
    background: white;
    cursor: pointer;
    border:inset 2.5px #556b2f
}
.hamburger-icon:before {
    top: 22px;
}
.hamburger-icon:after {
    top: 44px;
}

#h-menu_black {
    display: none;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .7s ease-in-out;
}

#h-menu_content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 53px 16px 16px;
    background: #1f2c3;
    overflow: auto;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

input:checked ~ .h-menu_icon .hamburger-icon{
    background: transparent;
}
input:checked ~ .h-menu_icon .hamburger-icon::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:10px;
    z-index:999;
}
input:checked ~ .h-menu_icon .hamburger-icon::after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top:10px;
    z-index:999;
}
input:checked ~ #h-menu_black {
    display: block;
    opacity: .8;
}
#h-menu_checkbox:checked ~ #h-menu_content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.h-menu_icon .hamburger-icon, .h-menu_icon .hamburger-icon::before, .h-menu_icon .hamburger-icon::after, #h-menu_black, #h-menu_content{
    -webkit-transition: all .3s ;
    transition: all .3s ;}

#h-menu_content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#h-menu_content ul li{
    border-bottom: solid 1px white;
}
#h-menu_content li a {
    display: block;
    color: white;
    font-size: 14px;
    padding: 24px;
    text-decoration: none;
    transition-duration: 0.2s;
}
#h-menu_content li a:hover {
    background: #455b6d;
}




.header-1 {
  background-color: #9acd32;
  color: #006400;
  height: 130px;
  padding: 0px;
  margin: 0px;
}

.header-2 {
  background-color: #e0ffff;
  color: #000000;
  height: 41px;
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
}


.header-logo {
  float: left;
  font-size: 42px;
  padding: 30px 60px;
}

.header-list li {
  float: left;
  font-size: 18px;
  padding: 48px 15px;
}

.header-2-logo {
  color:#696969;
  float: left ;
  font-size: 23px;
  padding: 8px 15px;
}


.header-2-list li {
  color:#696969;
  float: left;
  font-size: 16px;
  padding: 15px 20px 100px 20px;
}
.footer {
  background-color: #eee8aa;
  color: #000000;
  height: 100px;
 
}

.footer-logo {
  float: left;
  padding:30px;
}

.footer-list  {
 float:right;
 padding-top: 40px;
 padding-right:30;
}

.footer-list li {
 padding-bottom: 20px;
}
